
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p class="mt-4">
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are your sure?"
    }, class: "bg-brown py-2 px-4 text-white rounded-2xl hover:bg-lightPink shadow-md" %>
  </p>

  <div class="bg-superLightGreen h-0.5 rounded-full my-9 mr-20"></div>